.side
  .header
    .header__box
      %h3.header__box__name
        risa
      %ul.header__box__iconbox
        %li.header__box__iconbox__icon
          = link_to '#' do
            = icon('fa', 'edit',class: 'btn')
        %li.header__box__iconbox__icon
          =link_to '#' do
            =icon('fa','cog',class: 'btn')


  .group
    .group-box
      .group-name
        TECHCAMP
      .group-message
        cグループ
