.chat {
  height:100vh;
  width:calc(100% - 300px);
  background-color: #ffffff;
  position: relative;

  .header {
    height:100px;
    width:100%;
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;

     .left-header {
       height:100px;
       width:100%;
       float:left;
       position: relative;
       &__title {
         color: black;
         line-height: 100px;
         margin-left:40px;
       }
       &__member {
        display:flex;
        color:#333;
        font-size:12px;
        margin-left:40px;
        position: absolute;
        bottom:0;
        margin-bottom:5px;
        .name {
          margin-left:5px;
          display: flex;
          
          
        }
       }       
     }
     .right-header {
       &__edit {
         height:40px;
         line-height:40px;
         width:72px;
         border: 1px solid;
         text-align: center;
         font-size:16px;
         color:#38aef0;
         margin-top:28px;
       }
     }
  }
  .main-group {
    height:calc(100% - 100px);
    width:100%;
    background-color: pink;
    .main-group__box {
      padding-top: 35px;
      padding-left:40px;
      .main-group__box-up{
        display: flex;
      
      &__name {
        color:#333333;
        size:16px;


      }
      &__date {
        color: #999999;
        size:12px;
        padding-left:5px;

      }
      }
      .main-group__box-down {
        color:#434A54;
        margin-top:5px;
        font-size:14px;
      


    }
    }
  }
  .main-form {
    width:100%;
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 50px 20px 40px;
    position: absolute;
    bottom:0;
    display: flex;

    .input-box {
      height:50px;
      width:100%;
      padding: 0 0px 0 10px;
      background-color: white;
      &__text {
        float: left;
        height: 50px;
        padding-right: 10px;
        width:calc(100% - 50px);
      }
      &__image {
        font-size: 20px;
        line-height: 50px;
        float:right;
        padding:10px;

        &__file {
          display:none;
        }
      }
    }
    .submit-btn {
      background-color: blue;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
   
    }
  }
  

}